@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.logo-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 200;
  font-size: 20px;
  text-transform: uppercase;
}

.slogan-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 200;
  font-size: 14;
  text-transform: lowercase;
}

.sign-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  margin: 0;
  padding: 20px;
  border: 1px solid rgba(219, 219, 219, 1);
  font-weight: 300;
}

.sign-password-field {
  margin-bottom: 25px;
}

.sign-in-button {
  margin: 5px;
}

.sign-up-button {
  margin: 5px;
}

.back-sign-up-button {
  margin: 5px;
}

/* Sign Dialog Box */

.sign-dialog-box {
  text-align: center;
  font-weight: 400;
  color: #ffcc00;
}

/* User profile */

.user-profile-box {
  display: flex;
  height: 90vh;
  justify-content: center;
}

.user-profile-wrapper {
  margin: 10px 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.user-profile-image {
  cursor: pointer;
}

#image-loader {
  display: none;
}

.save-button {
  margin: 10px;
}

.user-right-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 10px 50px 10px 10px;
}

.user-right-menu-avatar {
  cursor: pointer;
  margin-right: 20px;
}

.change-password-toggle {
  margin: 20px 0px 5px 0px;
}

/* Events component with map */

.event-no-picture {
  height: 25%;
  width: 25%!important;
  min-width: 25%!important;
  margin-left: 35%;
  opacity: 0.8;
  transform: translate(0%,-15%);
}

/* Filter box */
.event-filter-box {
  margin: 5px 0px 0px 0px;
}

.event-filter-buttons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 5px 0px 0px;
}

.event-filter-divider {
  margin-bottom: 5px;
}


/* END Filter box */
.events-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
}

.map-container {
  width: 40vw;
}

.events-grid-container {
  width: 100%;
  height: 100%;
  margin-left: 2px!important;
  overflow-y: auto;
}

.event-card-box {
  margin: 2px!important;
}

.card-event-header div {
  padding-right: 0px!important;
}

.events-box {
  width: 60vw;
  max-height: 83vh;
}

#map {
  height: 90vh;
  width: 100%;
}
