/*@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
}

/* START MAIN CONTENT WINDOW */
.main-content__wrapper {
  margin: 50px 100px 100px 100px;
}
/* END MAIN CONTENT WINDOW */

/* START DASHBOARD USER PROFILE COMPONENT */
.user-dashboard__left-column {

}

.user-dashboard__right-column {

}

.user-profile__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  width: 635px;
  margin: 0px 0px 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px!important;
}

.profile-image__container {

}

.profile-image__content {
  cursor: pointer;
}

#profile-image__input {
  display: none;
}

.profile-content__container {
  font-size: 14px;
  margin: 16px 0px 0px 30px;
}

.profile-content__preview {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile-content__editable {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.user-profile__content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profile-content__bold-text {
  font-weight: 600;
  font-size: 16px;
  margin: 0px 0px 16px 0px;
}

.profile-content__text {
  margin: 0px 0px 10px 0px;
}

.profile-content__count-text {
  text-transform: uppercase;
  font-size: 12px;
  margin: 20px 0px 0px 0px;
}

.profile-content__input {
  width: 100%!important;
  font-size: 14px!important;
}

.profile-content__change-password-toggle {
  margin: 16px 0px 16px 0px;
}

.profile-content__change-password-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: -16px 0px 16px 0px;
}

.profile-edit-button__container {

}

.profile-edit-button__content button {
  background-color: rgb(255, 255, 255)!important;
}

.profile-edit-button__icon {
  color: rgb(164, 198, 57)!important;
  fill: rgb(164, 198, 57)!important;
}
/* END DASHBOARD USER PROFILE COMPONENT */

/* START DASHBOARD USER TABLE */
.dashboard-table-tabs__wrapper {
  width: 635px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px!important;
}

.dashboard-table__tab {
  font-weight: 600!important;
}

.dashboard-table__tab-active {
  font-weight: 600!important;
  background: #ffffff!important;
}

.dashboard-table__progress {
  display: table!important;
  margin: 32px auto!important;
}

.dashboard-table__wrapper {
  max-height: 45vh;
  overflow-y: auto;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;*/
}

.dashboard-table__row {
  text-transform: uppercase!important;
}

.row-column__title {
  font-weight: 600!important;
  font-size: 14px!important;
  cursor: pointer;
}

.row-column__title a {
  text-decoration: none;
  color: inherit;
}

.row-column__description {
  font-weight: 300;
  font-size: 14px!important;
}

.row-column__actions {
  text-align: right!important;
}

.row-column-actions-remove__icon {
  color: rgb(72, 70, 70)!important;
}
/* END DASHBOARD USER TABLE */
