@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
  color: inherit;
}

/* START NOTIFICATION BAR */

.notification-bar__container {
  text-align: center;
}

.notification-bar__content {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.notification_success__icon {
  color: rgb(164, 198, 57)!important;
  fill: rgb(164, 198, 57)!important;
}

.notification_warning__icon {
  color: #FFC107!important;
  fill: #FFC107!important;
}
/* END NOTIFICATION BAR */

/* START PLAYGROUND DETAIL */

.pg-details__progress {
  margin: 50% 0 0 30%;
}

.pg-details__content {
  margin: 50px 100px 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pg-details__left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  height: 100%;
  max-width: 60vw;
}

.pg-details__right-container {
  width: 40vw;
  height: 100%;
  max-width: 40vw;
}

.pg-details__pg-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.pg-details__right-container #map {
  height: 74.8vh;
  width: 100%;
}

.pg-details__pg-info {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pg-details__events-scheldure {
  margin: 0px 20px 20px 0px;
  width: 35vw;
}

.pg-info__content {
  padding: 0px 20px 0px 0px;
}

.pg-info__description {
  margin: 30px 0px 0px 0px;
}

.pg-info__label {
  font-size: 14px;
  font-weight: 200;
  opacity: 0.8;
  text-transform: uppercase;
  margin: 0px 10px 0px 0px;
}

.pg-info__address,
.pg-info__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pg-info__creator {
  margin-top: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.pg-info__creator-text {
  font-size: 14px;
  font-weight: 500;
}

.pg-info__address .pg-info__text {
  margin: 5px 0px 10px 0px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  /*white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;*/
}

.pg-info__about-text {
  margin: 5px 0px 0px 0px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  /*height: 130px;*/
  max-height: 130px;
  overflow-y: auto;
}

.pg-info__favorite-btn {
  margin: 0px!important;
  padding: 0px!important;
  position: absolute!important;
  left: 28vw;
}

.calendar-info__pg-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.pg-info__image-carousel {

}

.pg-info__image-carousel .slick-slider {

}

/* END PLAYGROUND DETAILS */

/* START SLICK CAROUSEL */

.slick-prev {
  z-index: 1;
  left: 10px;
}

.slick-next {
  z-index: 1;
  right: 10px;
}
/* END SCLICK CAROUSEL */

/* START MAIN CONTENT WINDOW */

.main-content__wrapper {
  overflow-y: auto;
  height: 90vh;
  max-height: 90vh;
}
/* END MAIN CONTENT WINDOW */

/* START DASHBOARD USER PROFILE COMPONENT */
.user-dashboard__content {
  margin: 50px 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-dashboard__left-column {

}

.user-dashboard__right-column {
  margin-left: 30px;
  width: 425px;
}

.user-profile__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 18px 20px 18px 20px;
  width: 635px;
  margin: 0px 0px 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px!important;
}

.profile-image__container {

}

.profile-image__content {
  cursor: pointer;
}

#profile-image__input {
  display: none;
}

.profile-content__container {
  font-size: 14px;
  margin: 8px 0px 0px 16px;
}

.profile-content__preview {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile-content__editable {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.user-profile__content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profile-content__bold-text {
  font-weight: 600;
  font-size: 16px;
  margin: 0px 0px 16px 0px;
}

.profile-content__text {
  margin: 0px 0px 10px 0px;
}

.profile-content__count-text {
  text-transform: uppercase;
  font-size: 12px;
  margin: 20px 0px 0px 0px;
}

.profile-content__input {
  width: 100%!important;
  font-size: 14px!important;
}

.profile-content__change-password-toggle {
  margin: 16px 0px 16px 0px;
}

.profile-content__change-password-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: -16px 0px 16px 0px;
}

.profile-edit-button__container {

}

.profile-edit-button__content button {
  background-color: rgb(255, 255, 255)!important;
}

.profile-edit-button__icon {
  color: rgb(164, 198, 57)!important;
  fill: rgb(164, 198, 57)!important;
}
/* END DASHBOARD USER PROFILE COMPONENT */

/* START DASHBOARD USER TABLE */
.dashboard-table-tabs__wrapper {
  width: 635px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px!important;
}

.dashboard-table__tab {
  font-weight: 600!important;
}

.dashboard-table__tab-active {
  font-weight: 600!important;
  background: #ffffff!important;
}

.dashboard-table__progress {
  display: table!important;
  margin: 32px auto!important;
}

.dashboard-calendar__progress {
  text-transform: uppercase;
  display: table!important;
  margin: 0 auto!important;
  padding: 18px;
}

.dashboard-table__wrapper {
  max-height: 35vh;
  overflow-y: auto;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;*/
}

.dashboard-table__row {
  text-transform: uppercase!important;
}

.row-column__title {
  font-weight: 600!important;
  font-size: 14px!important;
  cursor: pointer;
}

.row-column__title a {
  text-decoration: none;
  color: inherit;
}

.row-column__description {
  font-weight: 300;
  font-size: 14px!important;
}

.row-column__actions {
  text-align: right!important;
}

.row-column-actions-remove__icon {
  color: rgb(131, 131, 131)!important;
}
/* END DASHBOARD USER TABLE */

/* START DASHBOARD EVENTS CALENDAR */

  /* calendar flexboxes */

.dashboard-events-calendar_date-picker-title__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

.calendar-content__pg {
  /*margin: 0px 0px 20px 0px;*/
}

.calendar-more-content__calendar-pg {
  margin: 10px 0px!important;
}

.calendar-main-content__content-pg {
  padding: 0px 10px!important;
}

.calendar-pg__empty-text {
  text-transform: uppercase;
  font-size: 14px;
  width: 100%!important;
  padding: 32px!important;
  margin: 0px!important;
  text-align: center!important;
}

.dashboard-calendar__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-calendar__content-container .calendar-content__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-calendar__content-container .calendar-main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  font-size: 14px;
  align-items: center;
}

.calendar-main-content .calendar__title {
  width: 300px;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  font-size: 14px;
}

.calendar-main-content .calendar__info {
  margin: 10px 5px;
  font-size: 14px;
}

.calendar-main-content .calendar-info__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.dashboard-calendar__content-container .calendar-more-content {
  /*display: none;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0px 16px;
}

.bolder__text {
  font-weight: 600;
}

.calendar-more-content .calendar-more-content__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 0px;
  width: 100%;
}

.calendar_empty__text {
  text-transform: uppercase;
  margin: 32px auto!important;
  font-size: 14px;
}

.dashboard-calendar_more-icon__disabled {
  color: rgb(131, 131, 131)!important;
}

.dashboard-calendar_more-icon__active {
  color: rgb(164, 198, 57)!important;
}

.calendar-content__active {
  display: flex!important;
}

.calendar-content__disabled {
  display: none!important;
}

  /* end calendar flexboxes */

.dashboard-events-calendar__wrapper {

}

.dashboard-events-calendar__title {
  text-transform: uppercase;
  font-size: 16px;
}

.dashboard-events-calendar-date-picker__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 35px;
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 23px;
  font-size: 14px;
}

.dashboard-events-calendar-date-picker__date-text {

}

.dashboard-events-calendar-date-picker__date-selector {

}

.dashboard-events-calendar-date-picker__date-selector-icon {
  color: rgb(164, 198, 57)!important;
  fill: rgb(164, 198, 57)!important;
}

.dashboard-events-calendar-table__container {
  margin: 15px 0px 0px 0px;
}

.dashboard-events-calendar_table__row {

}

.dashboard-events-calendar__empty {
  text-transform: uppercase;
  display: table!important;
  margin: 32px auto!important;
}

.dashboard-events-calendar_table-row__column {
  font-size: 14px!important;
}

.calendar_table-row__time {
  width: 35px;
}

.calendar-table-row-column__title {
  padding-left: 0px!important;
  /*padding-right: 0px!important;*/
}

.calendar_table-row__title{
  text-transform: uppercase;
  font-weight: 600;
}

.calendar-table-row__actions {
  width: 35px;
}

.dashboard-events-calendar-table__more-content-icon {
  color: rgb(131, 131, 131)!important;
}
/* END DASHBOARD EVENTS CALENDAR */

/* START CREATE PLAYGROUND */

.create-pg__container {
  margin: 25px 100px 25px 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.create-pg__title {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.create-pg__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.create-pg__editable-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.image-dropzone__content {
  width: 350px;
  height: 250px;
  border: 1px solid #cccccc;
  cursor: pointer;
  background-image: url(./images/photo-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-color: #ffffff;
}

.image-dropzone__selected-image {
  width: 100%;
  height: 100%;
}

.image-dropzone__preview {
  overflow-y: auto;
  width: 350px;
  max-height: 145px;
  margin: 10px 0px 0px 0px;
}

.image-dropzone__preview-list-item div {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.image-dropzone_list__image {
  width: 50px;
  height: 30px
}

.image-dropzone {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.image-dropzone__container {

}

.create-pg__input-fields {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: -20px 0px 0px 20px;
  width: 40%;
}

.create-pg__input {
  font-size: 14px!important;
  text-transform: uppercase!important;
}

.create-pg__map-icon {
  color: #9AC536!important;
  fill: #9AC536!important;
}

.create-pg__name-field {
  width: 70%;
}

.create-pg__address-field,
.create-pg__description-field {
  width: 100%;
}

.create-pg__name-field,
.create-pg__address-field,
.create-pg__description-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.create-pg__desc-input {

}

.create-pg__map-btn-label {
  position: relative;
  bottom: 7px;
  right: 10px;
  font-weight: 300;
  opacity: 0.4;
  font-size: 14px;
}

.create-pg__map-modal #map {
  width: 100%;
  height: 60vh;
}

.create-pg_map-modal__title {
  font-weight: 300!important;
  text-align: center;
  padding: 10px 0!important;
}

.create-pg_map-modal__close-btn {

}

.create-pg__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

.create-pg__btn {
  margin: 10px 10px 0px 10px;
}

.err__icon {
  color: #FF3800!important;
  fill: #FF3800!important;
}

.check__icon {
  color: #10D600!important;
  fill: #10D600!important;
}
/* END CREATE PLAYGROUND */
